<section><br>
    <h1 class="textUno text-center">Espalda</h1>
    <h5 class="textDos text-center">pinza</h5>
  <br>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/espalda/Camisa_Espalda_Pinza_ConPinza.svg" class="imgTela" alt="">
        </button>
        <p class="text-center">CON PINZA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
        <button class="btn-zoom zoom">
          <img src="images/espalda/Camisa_Espalda_Pinza_SinPinza.svg" class="imgTela" alt="">
        </button>
        <p class="text-center">SIN PINZA</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" data-toggle="modal">
      </div>
    </div>
    <h5 class="textDos text-center">PLIEGUE</h5> <br>
    <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <button class="btn-zoom zoom">
              <img src="images/espalda/Camisa_Espalda_Bata_SinPliegues.svg" class="imgTela" alt="">
            </button>
            <p class="text-center">CON PINZA</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
            <button class="btn-zoom zoom">
              <img src="images/espalda/Camisa_Espalda_Bata_Pliegues_No2.svg" class="imgTela" alt="">
            </button>
            <p class="text-center">SIN PINZA</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" data-toggle="modal">
          </div>
        </div>
  </section>