<section><br>
  <h1 class="textUno text-center">Iniciales</h1>
  <h5 class="textDos text-center">SI QUIERES AGREGAR INICIALES, SELECCIONA LAS SIGUIENTES OPCIONES. SI NO QUIERES
    INICIALES DEJA EN BLANCO</h5>

  <div class="form-group center-block" style="width: 20%">
    <label for=""></label>
    <input type="" class="form-control" id="" placeholder="INICIALES">
  </div>
  <h5 class="textDos text-center">TIPO DE LETRA</h5>
  <br>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom zoom">
        <img src="images/iniciales/Camisa_Iniciales_Tipo_Balloon.svg" class="imgTela1" alt="">
      </button>
      <p class="text-center">BALOON</p>
    </div> 
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom zoom">
        <img src="images/iniciales/Camisa_Iniciales_Tipo_Block.svg" class="imgTela1" alt="">
      </button>
      <p class="text-center">BLOCK</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/iniciales/Camisa_Iniciales_Tipo_Bosano.svg" class="imgTela1" alt="">
      </button>
      <p class="text-center">BOSANO</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/iniciales/Camisa_Iniciales_Tipo_Radial.svg" class="imgTela1" alt="">
      </button>
      <p class="text-center">RADIAL</p>
    </div>
  </div>
  <h5 class="textDos text-center">HILO</h5>
  <br>
  <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <button class="btn-zoom zoom">
            <img src="images/iniciales/Camisa_Iniciales_Color-1624_AmarilloCanario.svg" class="imgTela1" alt="">
          </button>
          <p class="text-center">AMARILLO CANARIO</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <button class="btn-zoom zoom">
            <img src="images/iniciales/Camisa_Iniciales_Color-1747_Rojo.svg" class="imgTela1" alt="">
          </button>
          <p class="text-center">ROJO</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
          <button class="btn-zoom zoom">
            <img src="images/iniciales/Camisa_Iniciales_Color-1775_AzulFrancia.svg" class="imgTela1" alt="">
          </button>
          <p class="text-center">AZUL FRANCIA</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
          <button class="btn-zoom zoom">
            <img src="images/iniciales/Camisa_Iniciales_Color-1784_Vino.svg" class="imgTela1" alt="">
          </button>
          <p class="text-center">VINO</p>
        </div>
      </div>
      <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <button class="btn-zoom zoom">
                <img src="images/iniciales/Camisa_Iniciales_Color-1800_Negro.svg" class="imgTela1" alt="">
              </button>
              <p class="text-center">NEGRO</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <button class="btn-zoom zoom">
                <img src="images/iniciales/Camisa_Iniciales_Color-1801_Blanco.svg" class="imgTela1" alt="">
              </button>
              <p class="text-center">BLANCO</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
              <button class="btn-zoom zoom">
                <img src="images/iniciales/Camisa_Iniciales_Color-1811_GrisPerla.svg" class="imgTela1" alt="">
              </button>
              <p class="text-center">GRIS PERLA</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
              <button class="btn-zoom zoom">
                <img src="images/iniciales/Camisa_Iniciales_Color-1841_GrisOxford.svg" class="imgTela1" alt="">
              </button>
              <p class="text-center">GRIS OXFORD</p>
            </div>
          </div>
          <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <button class="btn-zoom zoom">
                    <img src="images/iniciales/Camisa_Iniciales_Color-1851_VerdeBandera.svg" class="imgTela1" alt="">
                  </button>
                  <p class="text-center">VERDE BANDERA</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <button class="btn-zoom zoom">
                    <img src="images/iniciales/Camisa_Iniciales_Color-1874_AzulCielo.svg" class="imgTela1" alt="">
                  </button>
                  <p class="text-center">AZUL CIELO</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
                  <button class="btn-zoom zoom">
                    <img src="images/iniciales/Camisa_Iniciales_Color-1922_Morado.svg" class="imgTela1" alt="">
                  </button>
                  <p class="text-center">MORADO</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
                  <button class="btn-zoom zoom">
                    <img src="images/iniciales/Camisa_Iniciales_Color-1938_Beige.svg" class="imgTela1" alt="">
                  </button>
                  <p class="text-center">BEIGE</p>
                </div>
              </div>
              <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <button class="btn-zoom zoom">
                        <img src="images/iniciales/Camisa_Iniciales_Color-1949_Hueso.svg" class="imgTela1" alt="">
                      </button>
                      <p class="text-center">HUESO</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <button class="btn-zoom zoom">
                        <img src="images/iniciales/Camisa_Iniciales_Color-1967_AzulRoyal.svg" class="imgTela1" alt="">
                      </button>
                      <p class="text-center">AZUL ROYAL</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-toggle="modal" data-target="#modalSelect">
                      <button class="btn-zoom zoom">
                        <img src="images/iniciales/Camisa_Iniciales_Color-1976_AzulMedianoche.svg" class="imgTela1" alt="">
                      </button>
                      <p class="text-center">AZUL MEDIA NOCHE</p>
                    </div>
                  </div>
</section>