<section><br>
  <h1 class="textUno text-center">Tela</h1>
  <h5 class="textDos text-center">ELIGE LA TELA GENERAL PARA TU CAMISA</h5>
  <p class="text-center">Si no encuentras la tela ingresa el código</p>
  <div class="form-group center-block" style="width: 20%">
    <label for=""></label>
    <input type="" class="form-control" id="" placeholder="CÓDIGO">
  </div>
  <p class="text-center">Puedes usar los campos para filtrar por fabricante, color y/o patrón:</p>
  <div class="row text-center">
   <div class="col-lg-4">
    <select class="browser-default custom-select">
      <option selected>Cualquier fabricante</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
   </div>
   <div class="col-lg-4">
    <select class="browser-default custom-select">
      <option selected>Cualquier color</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
   </div>
   <div class="col-lg-4">
    <select class="browser-default custom-select">
      <option selected>Cualquier patrón</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
   </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom zoom">
        <img src="images/tela/1.png" class="imgTela" alt="">
      </button>
      <p class="text-center">TUO SUPRALUX 100’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/tela/2.png" class="imgTela" alt="">
      </button>
      <p class="text-center">TUO SUPRALUX 140’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/tela/3.png" class="imgTela" alt="">
      </button>
      <p class="text-center">TUO SUPRALUX 200’S</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom zoom">
        <img src="images/tela/4.png" class="imgTela" alt="">
      </button>
      <p class="text-center">GETZNER SUPER 100’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/tela/5.png" class="imgTela" alt="">
      </button>
      <p class="text-center">GETZNER ALGODÓN LINO</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/tela/6.png" class="imgTela" alt="">
      </button>
      <p class="text-center">TESSITURA MONTI SUPER 140’S</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom zoom">
        <img src="images/tela/7.png" class="imgTela" alt="">
      </button>
      <p class="text-center">TESSITURA MONTI SUPER 180’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/tela/8.png" class="imgTela"  alt="">
      </button>
      <p class="text-center">TESSITURA MONTI SUPER 200’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/tela/9.png" class="imgTela" alt="">
      </button>
      <p class="text-center">EMS POLIÉSTER-ALGODÓN</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle="modal" data-target="#modalSelect">
      <button class="btn-zoom zoom">
        <img src="images/tela/10.png" class="imgTela" alt="">
      </button>
      <p class="text-center">EMS SUPER 100’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom zoom">
        <img src="images/tela/11.png" class="imgTela" alt="">
      </button>
      <p class="text-center">DMD SÚPER 100’S</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
  </div>

</section>